<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Chatroom ng mga magaganda at poging studyante</title>
     
     
</head>
<body>
     <div class="login-container">
          <form method="post">
               <input type="text" name="username" placeholder="Pick a username" required="">
               <a href="/chatbox">Start</a>
          </form>
     </div>
</body>
</html>
